@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --primary-color: rgb(0, 120, 129);
    --primary-color-darker: rgb(17, 86, 102) ;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-size: 1.3em;
    line-height: 1.5;
    font-family: 'Open sans', sans-serif;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.col1, .col2{
    width: 280px;
    float: left;
    align-items: center;
    font-size: medium;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom:10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button :hover {
    background: var(--primary-color-darker);
}

.paragrafo-resultado, .bad, .atencao, .muita-atencao{
    background: rgb(109, 255, 182);
    padding: 10px, 20px;
}

.bad {
    background: rgb(240, 27, 27);
    padding: 10px, 20px;
}

.atencao {
    background: rgb(250, 196, 20);
}

.muita-atencao {
    background: rgb(255, 120, 9);
}

.imc{
    padding-top: 350px;
}

.titulo{
    font-size: 35px;
    font-weight: bold;
}

.resultado-titulo {
    font-weight: bold;
}

.resultado{
    font-weight: bold;
}

.peso, .altura {
    font-weight: bold;
}
