@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --primary-color: rgb(0, 120, 129);
    --primary-color-darker: rgb(17, 86, 102) ;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-size: 1.3em;
    line-height: 1.5;
    font-family: 'Open sans', sans-serif;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.col1, .col2{
    width: 280px;
    float: left;
    align-items: center;
    font-size: medium;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom:10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}